* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

h1, h2, p {
    font-family: 'Roboto';
}

h1 {
    font-size: 1.5rem;
    margin-left: 20px;
}

h2 {
    text-align: center;
    margin-top: 0px;
}

#body-main-content {
    position: relative;
}

article {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 15px;
}

input {
    display: inline-block;
    width: 100%;
    margin: 8px 0px;
}

button[type=submit] {
    text-align: center;
    width: 100%;
    background-color: #1F4B7A;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header h1:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

small {
    color: red;
    display: block;
}

.hidden-small {
    display: none;
}